- aasm_states = Post.aasm.states.map { |state| [Post.human_attribute_name(state.name), state.name] }

= content_for :title do
  = 'Posts'

.p-3.bg-light
  = search_form_for @q do |f|
    .form-group.mb-3
      => f.label :title_cont
      = f.search_field :title_cont, class: 'form-control'

    .form-group.mb-3
      => f.label :aasm_state_eq
      => f.select :aasm_state_eq, aasm_states, { prompt: true }, { class: 'form-control' }

    .form-group
      = f.submit 'Search', class: 'btn btn-primary me-2'
      = link_to 'Reset', url_for, class: 'btn btn-outline-primary'

table.table.table-striped.table-hover.mb-5
  thead
    tr
      th{ scope: :col } #
      th{ scope: :col } Title
      th{ scope: :col } State
      th

  tbody
    - @posts.each_with_index do |post, i|
      tr
        th{ scope: :col } = i + 1
        td = post.title
        td = post.aasm.current_state
        td.d-flex
          .me-4 = link_to 'Show', post
          .me-4 = link_to 'Edit', edit_post_path(post)
          = link_to 'Destroy', post, data: { confirm: 'Are you sure?' }, method: :delete

= link_to 'New Post', new_post_path, class: 'btn btn-primary'
