= form_with model: task do |form|
  .field
    div
      = form.label :name
    div
      = form.text_field :name, size: '30', disabled: params[:action] == 'show'
    - unless task.errors.messages_for(:name).empty?
      .field_with_errors
        = task.errors.messages_for(:name).join(', ')
  .field
    div
      = form.label :description
    div
      = form.text_area :description, size: '25x5', disabled: params[:action] == 'show'
  .field
    div
      = form.label :status
    div
      = form.select :status, %w[new started testing finished], {}, disabled: params[:action] == 'show'
  .field
    div
      = form.label :creator
    div
      = form.text_field :creator, size: '30', disabled: params[:action] == 'show'
    - unless task.errors.messages_for(:creator).empty?
      .field_with_errors
        = task.errors.messages_for(:creator).join(', ')
  .field
    div
      = form.label :performer
    div
      = form.text_field :performer, size: '30', disabled: params[:action] == 'show'
  .field
    div
      = form.label :completed
    div
      = form.check_box :completed, disabled: params[:action] == 'show'
    - unless task.errors.messages_for(:completed).empty?
      .field_with_errors
        = task.errors.messages_for(:completed).join(', ')
  - unless params[:action] == 'show'
    .actions
      = form.submit
