h1
  | Tasks
p
  = link_to('New task', new_task_path)
table[border="1"]
  thead
    tr
      th[width="5%"]
        | #
      th[width="15%"]
        | Name
      th[width="65%"]
        | Description
      th[width="5%"]
        | Status
      th[width="10%"]
        | Actions
  tbody
    - tasks.each.with_index(1) do |task, i|
      tr
        td[align="center"]
          = i
        td[align="center"]
          = task.name
        td
          = task.description
        td[align="center"]
          = task.status
        td[align="center"]
          = link_to('Show', task_path(task))
          |  | 
          = link_to('Edit', edit_task_path(task))
          |  | 
          = link_to('Destroy', task_path(task), method: :delete, data: { confirm: 'Are you sure you want to destroy the task page?' })
