- content_for :title do
  = t('.title')

table.table.table-striped.table-hover.mb-5
  thead
    tr
      th{ scope: :col } #
      th{ scope: :col } = t('.table_post_title')
      th = t('.table_post_comments_count')
      th = t('.table_action_buttons')

  tbody
    - @posts.each_with_index do |post, i|
      tr
        th{ scope: :col } = i + 1
        td = post.title
        td = t('.comments_count', count: post.comments.count)
        td.d-flex
          => link_to(t('.show_post_link'), post_path(post), class: 'btn btn-success')
          => link_to(t('.edit_post_link'), edit_post_path(post), class: 'btn btn-primary')
          = link_to(t('.destroy_post_link'), post_path(post), data: { confirm: t('.destroy_confirmation') }, method: :delete, class: 'btn btn-danger')

= link_to new_post_path, id: 'new-post-link', class: 'btn btn-primary' do
  = t('.new_post')
