- content_for :title do
  = @post.title
p
  strong.me-2 Body:
  = @post.body

.mt-3
  - if @post.comments.any?
    h3 Comments

    - @post.comments.each do |comment|
      .card.mb-2.p-3
        .d-flex.justify-content-between.align-items-center
          .col-10
            small.font-weight-bold
              == comment.body
          .col-2
            small.me-2
              = comment.created_at

            = link_to 'Edit', edit_post_comment_path(@post, comment), class: 'me-2'

            = link_to post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' } do
              = 'Delete'
  .my-2

  = simple_form_for @post.comments.build, url: post_comments_path(@post) do |f|
    = f.input :body, label: false, as: :text
    = f.submit class: 'btn btn-primary'

hr

.d-flex
  = link_to 'Edit', edit_post_path(@post), class: 'btn btn-outline-primary mr-2'
  = link_to 'Back', :back, class: 'btn btn-outline-primary'
