doctype html
html
  head
    title
      | CRUD
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
  body
    ul
      li
        = link_to('Home', root_path)
      li
        = link_to('Tasks', tasks_path)
    = render(partial: 'layouts/flash_message')
    = yield
