<ul>
    <li><%= link_to('Home', root_path) %></li>
</ul>

<main>
    <h1>Кирилл Ильин</h1>
    <h2>Ruby on Rails разработчик</h2>
    <hr>
    <section>
        <h2>Ключевые навыки:</h2>
        <ul>
            <li>Ruby On Rails</li>
            <li>Ruby</li>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>PostgreSQL</li>
            <li>MongoDB</li>
            <li>Git</li>
            <li>OpenAPI Specification</li>
        </ul>
    </section>
    <section>
        <h2>Обо мне</h2>
        <p>Я ищу работу на позицию Ruby on Rails разработчика. Я рассматриваю удалённую работу или релокацию в другую страну (предпочтительно европейские страны).</p>
        <p>Я начал заниматься программированием, когда учился в школе и университете. В этот период времени я изучил такие языки программирования, как Pascal (Delphi) и C/C++ (с использованием фреймворка QT), и с помощью них писал различные консольные и десктопные программы. После окончания учёбы в университете я нашёл первую работу в роли программиста, где основной язык программирования был C#. После полтора года коммерческого опыта, я принял решение перестать заниматься разработкой на С# (по разным причинам) и перейти на язык программирования Ruby.</p>
    </section>
</main>
