h1 Editing User

= render(partial: 'users/form', locals: { user: user })

br

=> link_to('Show', user_path(user), class: 'btn btn-success')
=< link_to('Back to list', users_path, class: 'btn btn-secondary')
