h1 List of Users

table.table.table-striped.text-center
  thead
    tr
      th[width="5%"] #
      th[width="75%"] Name
      th[width="20%"] Actions

  tbody
    - users.each.with_index(1) do |user, i|
      tr
        td = i
        td = user.name
        td
          => link_to('Show', user_path(user), class: 'btn btn-success')
          => link_to('Edit', edit_user_path(user), class: 'btn btn-primary')
          = link_to('Destroy', user_path(user), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger')

br

= link_to('New User', new_user_path, class: 'btn btn-primary')
