h1
  | User #
  = user.id

br

h4
  | Name:
p
  = user.name

br

=> link_to('Edit', edit_user_path(user), class: 'btn btn-primary')
=< link_to('Back to list', users_path, class: 'btn btn-secondary')

hr

= render(template: 'tasks/index', locals: { tasks: user.tasks })
