<%= form_with model: task do |form| %>
  <div class="field">
    <div><%= form.label :name %></div>
    <div><%= form.text_field :name, size: '30', disabled: params[:action] == 'show' %></div>
    <% unless task.errors.messages_for(:name).empty? %>
      <div class="field_with_errors"><%= task.errors.messages_for(:name).join(', ') %></div>
    <% end %>
  </div>

  <div class="field">
    <div><%= form.label :description %></div>
    <div><%= form.text_area :description, size: '25x5', disabled: params[:action] == 'show' %></div>
  </div>

  <div class="field">
    <div><%= form.label :status %></div>
    <div><%= form.select :status, %w[new started testing finished], {}, disabled: params[:action] == 'show' %></div>
  </div>

  <div class="field">
    <div><%= form.label :creator %></div>
    <div><%= form.text_field :creator, size: '30', disabled: params[:action] == 'show' %></div>
    <% unless task.errors.messages_for(:creator).empty? %>
      <div class="field_with_errors"><%= task.errors.messages_for(:creator).join(', ') %></div>
    <% end %>
  </div>

  <div class="field">
    <div><%= form.label :performer %></div>
    <div><%= form.text_field :performer, size: '30', disabled: params[:action] == 'show' %></div>
  </div>

  <div class="field">
    <div><%= form.label :completed %></div>
    <div><%= form.check_box :completed, disabled: params[:action] == 'show' %></div>
    <% unless task.errors.messages_for(:completed).empty? %>
      <div class="field_with_errors"><%= task.errors.messages_for(:completed).join(', ') %></div>
    <% end %>
  </div>

  <% unless params[:action] == 'show' %>
    <div class="actions"><%= form.submit %></div>
  <% end %>
<% end %>
