<h1>Tasks</h1>

<p><%= link_to('New task', new_task_path) %></p>

<table border="1">
  <thead>
    <tr>
      <th width="5%">#</th>
      <th width="15%">Name</th>
      <th width="65%">Description</th>
      <th width="5%">Status</th>
      <th width="10%">Actions</th>
    </tr>
  </thead>

  <tbody>
  <% @tasks.each.with_index(1) do |task, i| %>
    <tr>
      <td align="center"><%= i %></td>
      <td align="center"><%= task.name %></td>
      <td><%= task.description %></td>
      <td align="center"><%= task.status %></td>
      <td align="center">
        <%= link_to('Show', task_path(task)) %> |
        <%= link_to('Edit', edit_task_path(task)) %> |
        <%= link_to('Destroy', task_path(task), method: :delete, data: { confirm: 'Are you sure you want to destroy the task page?' }) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
