<h1>Task #<%= @task.id %></h1>

<%= render(partial: 'tasks/form', locals: { task: @task }) %>

<%= link_to('Back to tasks list', tasks_path) %> |
<%= link_to('Edit task', edit_task_path(@task)) %> |
<%= link_to('Destroy task', task_path(@task), method: :delete, data: { confirm: 'Are you sure you want to destroy the task page?' }) %>
