= simple_form_for(task) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name
    = f.input :description
    = f.association :user, collection: User.order(:name), label_method: :name, value_method: :id
    = f.association :status, collection: Status.order(:name), label_method: :name, value_method: :id

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
