h1 Editing Task

= render(partial: 'tasks/form', locals: { task: task })

br

=> link_to('Show', task_path(task), class: 'btn btn-success')
=< link_to('Back to list', tasks_path, class: 'btn btn-secondary')
