h1 List of Tasks

table.table.table-striped.text-center
  thead
    tr
      th[width="5%"] #
      th[width="10%"] Name
      th[width="40%"] Description
      th[width="20%"] User
      th[width="5%"] Status
      th[width="20%"] Actions

  tbody
    - tasks.each.with_index(1) do |task, i|
      tr
        td = i
        td = task.name
        td = task.description
        td = task.status.name
        td = task.user.name
        td
          => link_to('Show', task_path(task), class: 'btn btn-success')
          => link_to('Edit', edit_task_path(task), class: 'btn btn-primary')
          = link_to('Destroy', task_path(task), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger')

br

= link_to('New Task', new_task_path, class: 'btn btn-primary')
