h1
  | Task #
  = task.id

br

h4
  | Name:
p
  = task.name

h4
  | Description:
p
  = task.description

h4
  | User:
p
  = task.user.name

h4
  | Status:
p
  = task.status.name

br

=> link_to('Edit', edit_task_path(task), class: 'btn btn-primary')
=< link_to('Back to list', tasks_path, class: 'btn btn-secondary')
