h1 Editing Post

== render(partial: 'posts/form', locals: { post: post })

br

=> link_to('Show', post_path(post), class: 'btn btn-success')
=< link_to('Back to list', posts_path, class: 'btn btn-secondary')
