h1 List of Posts

table.table.table-striped.text-center
  thead
    tr
      th[width="5%"] #
      th[width="10%"] Title
      th[width="40%"] Body
      th[width="20%"] Summary
      th[width="5%"] Published
      th[width="20%"] Actions

  tbody
    - posts.each.with_index(1) do |post, i|
      tr
        td = i
        td = post.title
        td = post.body
        td = post.summary
        td = post.published
        td
          => link_to('Show', post_path(post), class: 'btn btn-success')
          => link_to('Edit', edit_post_path(post), class: 'btn btn-primary')
          = link_to('Destroy', post_path(post), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger')

br

= link_to('New Post', new_post_path, class: 'btn btn-primary')
