h1
  | Post #
  = post.id

= simple_form_for(post, wrapper: :vertical_disabled_form) do |f|
  = f.input :title, disabled: true
  = f.input :body, disabled: true
  = f.input :summary, disabled: true
  = f.input :published, disabled: true

br

=> link_to('Edit', edit_post_path(post), class: 'btn btn-primary')
=< link_to('Back to list', posts_path, class: 'btn btn-secondary')
