<h1>Bulletin</h1>

<h3><%= @bulletin.title %></h3>
<p><%= @bulletin.body %></p>

<%= check_box_tag('bulletin', 'Published', @bulletin.published, disabled: true) %>
<%= label_tag('bulletin', 'Published') %>

<p><%= link_to('Back to bulletins', bulletins_path) %></p>
