h1 Editing Status

== render(partial: 'statuses/form', locals: { status: status })

br

=> link_to('Show', status_path(status), class: 'btn btn-success')
=< link_to('Back to list', statuses_path, class: 'btn btn-secondary')
