h1 List of Statuses

table.table.table-striped.text-center
  thead
    tr
      th[width="5%"] #
      th[width="75%"] Name
      th[width="20%"] Actions

  tbody
    - statuses.each.with_index(1) do |status, i|
      tr
        td = i
        td = status.name
        td
          => link_to('Show', status_path(status), class: 'btn btn-success')
          => link_to('Edit', edit_status_path(status), class: 'btn btn-primary')
          = link_to('Destroy', status_path(status), data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-danger')

br

= link_to('New Status', new_status_path, class: 'btn btn-primary')
