h1
  | Status #
  = status.id

br

h4
  | Name:
p
  = status.name

br

=> link_to('Edit', edit_status_path(status), class: 'btn btn-primary')
=< link_to('Back to list', statuses_path, class: 'btn btn-secondary')
